html,body, h1 {
    margin: 0;
}
.chatbot{
    margin: 0 2% 2% 0;
    border: 1px solid #80808047;
    border-radius: 5%;
    width: 33%;
    position: absolute;
    height: 612px;
    right: 0;
    bottom: 0;
    box-shadow: 0.6em 1em 2em black;
}
.container {
    height: 87%;
}
.image {
    width: 13%;
    margin: 0 5%;
}
.perichat-text{
    color: white;
    font-size: 1.26em;
    font-family: sans-serif;

}

.navigator {
    background-color: #80b912;
    height: 11%;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    top:0;
    border-radius: 15px 15px 0 0;
}

h1 {
    color: white;
}

.container-message {
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    height: 91%;
}

.black-element {
    display: flex;
    flex-direction: row-reverse;
}

.black-content {
    background-color: #f8f8f8;
}

.white-content {
    background-color: #80b912;
    color: white;
    border-radius: 5%;
}

.generic-content{
padding: 6%;
}
.generic {
    font-family: sans-serif;
    border-radius: 5%;
    min-height: 40px;
    width: 79%;
    margin: 1% 1% 3% 3%;
}

.form {
    text-align: center;
}
.text-input {
    width: 67%;
    height: 52px;
    z-index: 99;
    background: #e4e4e4;
    border: none;
    outline: none;
    padding-left: 55px;
    padding-right: 55px;
    color: #666;
    font-weight: 400;
}

.last{
    top: 30px;
    left: 115px;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 400;
    color:#636060f2;
    margin: 0 10px 0px;
    cursor: default;
}