:root{
    --second-color:white;
    --nav-color:#80b912de;
    --green-background: #80b912;
}

html,body, h1 {
    margin: 0;
}

/* Desktop */
.chatbot{
    display: flex;
    flex-direction: column;

    position: absolute;
    bottom:0;
    top:0;
    right:0;

    width: 33%;
    height: auto;
    margin: 16px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
    box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
}

.navigator {
    display: flex;
    flex-direction: row;
    background-color:var(--nav-color);
    padding: 8px 16px;
}

.perichat-text{
    color: var(--second-color);
    font-size: 1.26em;
    font-family: sans-serif;
    line-height: 2.26;
    margin: 0;
}

.image {
    width: 93px;
    height: 37px;
    margin-left: auto;
}

.container {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #e9e9e9;
}

.container-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    flex-grow: 2;
}

h1 {
    color: var(--second-color);
}

.black-element {
    display: flex;
    flex-direction: row-reverse;
}

.black-content {
    background-color: var(--second-color);
}

.white-content {
    background-color: var(--green-background);
    color: var(--second-color);
}
.perichat-generic {
    font-family: sans-serif;
    width: 79%;
    margin: 16px 16px 16px 36px;
    border-bottom: 1px solid #999; 
    -webkit-box-shadow: 1px 4px 4px -2px rgba(153,153,153,1);
    -moz-box-shadow: 1px 4px 4px -2px rgba(153,153,153,1);
    box-shadow: 1px 4px 4px -2px rgba(153,153,153,1);
}

/* PerichatResponse */
.perichat-content{
    padding: 16px 16px 0px 16px;
    position:relative;
}

.perichat-content:before {
    content:"\A";
    border-style: solid;
    border-width: 0 20px 16px 0px;
    border-color: transparent var(--green-background) transparent transparent;
    position: absolute;
    margin-top: -16px;
    left: -20px;
}

.perichat-content strong{
    border-bottom: 1px solid #fff;
    width: 100%;
    display: block;
    padding-bottom: 10px;
}

/* UserResponse*/
.user-generic {
    font-family: sans-serif;
    width: 79%;
    margin: 16px 36px 16px 16px;
    border-bottom: 1px solid #999; 
    -webkit-box-shadow: 1px 4px 4px -2px rgba(153,153,153,1);
    -moz-box-shadow: 1px 4px 4px -2px rgba(153,153,153,1);
    box-shadow: 1px 4px 4px -2px rgba(153,153,153,1);
}

.user-content{
    padding: 16px 16px 0px 16px;
    position:relative;
}

.user-content::before {
    content:"\A";
    border-style: solid;
    border-width: 20px 20px 16px 0px;
    border-color: var(--second-color) transparent transparent transparent;
    position: absolute;
    margin-top: -16px;
    right: -20px;
}

.generic-content{
    padding: 16px 16px 0px 16px;
    position:relative;
}
.generic-content:before {
    content:"\A";
    border-style: solid;
    border-width: 0 20px 16px 0px;
    border-color: transparent var(--green-background) transparent transparent;
    position: absolute;
    margin-top: -16px;
    left: -20px;
}

.text-input {
    margin: 0;
    width: 100%;
    background: #fff;
    color: #666;
    font-weight: 400;
    border: none;
    padding: 16px;
}

.last{
    top: 30px;
    left: 115px;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 400;
    color:#636060f2;
    padding: 10px 20px;
    cursor: default;
}

.white {
    color: var(--second-color);
}

@media (max-width: 1200px){
    .chatbot{
        width: auto;
    }
}

@media (max-width: 700px){
    .chatbot{
        width: auto;
    }
}