html,body, h1 {
    margin: 0;
}
.chatbot{
    border: 1px solid #80808047;
    border-radius: 6px 0 0 0;
    width: 28%;
    position: absolute;
    height: 500px;
    right: 0;
    bottom: 0;
}
.container {
    height: 87%;
}
.image {
    width: 13%;
    margin: 0 5%;
}
.perichat-text{
    color: white;
    font-size: 1.26em;
    font-family: sans-serif;

}

.navigator {
    background-color: #529d26a6;
    border-radius: 5px 0 0 0;
    height: 11%;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 96%;
    top:0;
}

h1 {
    color: white;
}

.container-message {
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    height: 91%;
}

.black-element {
    display: flex;
    flex-direction: row-reverse;
}

.black-content {
    background-color: #529d2626;
}

.white-content {
    background-color: #f5f5f5;
}

.generic {
    border-radius: 5px;
    min-height: 40px;
    width: 60%;
    margin: 1%
}

.texto {
    padding: 4%;
}

.form {
    text-align: center;
}
.text-input {
    width: 65%;
    height: 43px;
    z-index: 99;
    background: #f1f1f1bf;
    border: none;
    outline: none;
    padding-left: 55px;
    padding-right: 55px;
    color: #666;
    font-weight: 400;
}

.last{
    top: 30px;
    left: 115px;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 400;
    color:#636060f2;
    margin: 0 10px 0px;
    cursor: default;
}